@model MvcWebUI.Models.CategoryModel

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Admin">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/Admin/Category/Index">Kategoriler</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Kategori Ekle</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Ekle</button>
}

